/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import "tailwindcss";
/* CSS Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Body Styling */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Audiowide", sans-serif;
}